#abtswmcont {
  margin-left: 1.2rem;
  display: flex;
}

* {
  box-sizing: border-box;
}

#about {
  max-width: 45%;
}

.lead {
  font-size: 1.1em;
}

.price-container {
  border: 1px solid black;
  width: min-content;
  margin: 0.1em;
}

.price-container-container {
  display: flex;
  flex-wrap: wrap;
}

.price p,
.price-desc p {
  text-align: center;
  margin: 0;
}
