html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: rgb(255, 254, 0);
  background: linear-gradient(
    0deg,
    rgba(255, 254, 0, 1) 0%,
    rgba(255, 188, 45, 1) 21%,
    rgba(255, 174, 0, 1) 85%,
    rgba(255, 255, 255, 1) 100%
  );
}

@media (min-width: 1000px) {
  img {
    width: 300px;
    height: 200px;
  }
  .image-container {
    width: 300px;
  }
}

@media (max-width: 700px) {
  img {
    width: 200px;
    height: 100px;
  }
  .image-container {
    width: 200px;
  }
}

@media (max-width: 400px) {
  img {
    width: 100%;
    height: 200px;
  }
  .image-container {
    width: 100%;
  }
}

@media (max-width: 1000px) {
  @media (min-width: 700px) {
    img {
      width: 250px;
      height: 150px;
    }
    .image-container {
      width: 250px;
    }
  }
}

.unselected {
  text-decoration: none;
}

.selected {
  color: orange;
  text-decoration: orange underline;
}

#navbar {
  background-color: white;
  height: 30px;
  width: 100%;
  margin: 0;
  padding: 0;
}

.unselectedButton,
.selectedButton {
  border: none;
  outline: none;
  margin-left: 20%;
  height: fit-content;
  margin-top: 5px;
  width: fit-content;
  background-color: rgb(245, 220, 151);
  border-radius: 14px;
}

a:hover {
  color: rgb(243, 188, 85);
}

main {
  margin-left: 1.2rem;
}

.image-container {
  display: flex;
  overflow: hidden;
}

.image-container img {
  width: 100%;
}

.arrows {
  text-align: center;
  margin-top: 10px;
}

.arrows span {
  cursor: pointer;
  font-size: 20px;
  padding: 0 10px;
}