html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 14pt;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: rgb(248, 229, 121);
}

@media (min-width: 600px) {
  img {
    width: 250px;
    height: 188px;
    border: 2px solid black;
  }
  .aspect {
    width: 200px;
  }
}

@media (max-width: 600px) {
  img {
    width: 150px;
    height: auto;
    border: 2px solid black;
  }
}

.unselected {
  text-decoration: none;
}

.selected {
  color: orange;
  text-decoration: orange underline;
}

#navbar {
  background-color: white;
  /*height: 30px;*/
  padding: 0;
  padding-bottom: 5px;
  width: 100%;
  margin: 0;
}

.unselectedButton,
.selectedButton {
  border: 1px solid rgb(255, 227, 150);
  outline: none;
  margin-left: 20%;
  height: fit-content;
  margin-top: 5px;
  width: fit-content;
  background-color: rgb(255, 232, 170);
  border-radius: 0px;
}

a:hover {
  color: rgb(243, 188, 85);
}

main {
  margin-left: 1.2rem;
  display: flex;
}

* {
  box-sizing: border-box;
}

main {
  min-height: calc(100vh - 4rem);
}

footer {
  height: 4rem;
}

#about {
  max-width: 25em;
}

.lead {
  font-size: 1.1em;
}

.price-container {
  border: 1px solid black;
  width: min-content;
  margin: 0.1em;
}

.price-container-container {
  display: flex;
}

.price p,
.price-desc p {
  text-align: center;
  margin: 0;
}
