main {
  display: flex;
}

.rightside {
  margin-top: 2rem;
  position: absolute;
  right: 2rem;
  /*float: right;*/
}

.text {
  color: #ffffff;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
  width: fit-content;
  border-radius: 30px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.image {
  max-width: 400px;
}

.image-container {
  position: relative;
  margin-top: 1em;
  margin-bottom: 1em;
}
